f-lines {
  display: block;
  font: 10px sans-serif;
  position: relative;
  overflow: hidden;

  .line {
    fill: none;
    stroke-width: 3px;
  }

  .axis {
    path {
      display: none;
    }
    line {
      stroke: #ccc;
      stroke-width: 1;
    }
    text {
      font-size: 12px;
      font-weight: bold;
    }
  }

  .scanner {
    line {
      stroke-dasharray: 3 3;
      stroke: black;
    }

    circle {
      fill: black;
      stroke: white;
      stroke-width: 1.5px;
    }
  }
}