f-bar-graph {
  display: block;
  font: 10px sans-serif;
  position: relative;
  overflow: visible;

  svg {
    overflow: visible !important;
  }
  .axis {
    path {
      display: none;
    }
    line {
      stroke: #ccc;
      stroke-width: 1;
    }
    text {
      font-size: 12px;
      font-weight: bold;
    }
  }
}