f-bar-graph {
  display: block;
  font: 10px sans-serif;
  position: relative;
  overflow: visible;

  svg {
    overflow: visible !important;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .axis path {
    display: none;
  }
}